@page "/"
@inject NavigationManager navigationManager

<PageTitle>Index</PageTitle>

<h1>Welkom op het Blazor project van Tom Leysen</h1>

<p>Hier vind je een vertaling van Javascript-oefeningen naar C#</p>
<div>
	<a href="/movies"><button type="button" class="btn btn-primary m-1"> Movies</button></a>
</div>
<div>
	<a href="/randomFoto"><button type="button" class="btn btn-primary m-1"> Foto</button></a>
	
</div>
<div>
	<a href="/geboortedatum"><button type="button" class="btn btn-primary m-1"> FunFacts</button></a>
</div>
<div>
	<button type="button" class="btn btn-primary m-1"> Dobbelen</button>
</div>


	


